@charset "utf-8";

/* Webfonts */
@font-face{ font-family: ns; font-weight: 100; src: url(../../layout/font/notokr-light.eot); src: local('※'), url(../../layout/font/notokr-light.woff) format('woff'); }
@font-face{ font-family: ns; font-weight: normal; src: url(../../layout/font/notokr-regular.eot); src: local('※'), url(../../layout/font/notokr-regular.woff) format('woff'); }
@font-face{ font-family: ns; font-weight: 300; src: url(../../layout/font/notokr-medium.eot); src: local('※'), url(../../layout/font/notokr-medium.woff) format('woff'); }
@font-face{ font-family: ns; font-weight: 600; src: url(../../layout/font/notokr-bold.eot); src: local('※'), url(../../layout/font/notokr-bold.woff) format('woff'); }

/* Reset Fonts */
@font-face{ font-family: empty;src: url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAQ0AAoAAAAAA+wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAJ4AAACeXQ48j09TLzIAAAGUAAAAYAAAAGAIIgbWY21hcAAAAfQAAABEAAAARAAyAGlnYXNwAAACOAAAAAgAAAAIAAAAEGhlYWQAAAJAAAAANgAAADb9mzB5aGhlYQAAAngAAAAkAAAAJAHiAeVobXR4AAACnAAAABAAAAAQAAAAAG1heHAAAAKsAAAABgAAAAYABFAAbmFtZQAAArQAAAFdAAABXVqZXRlwb3N0AAAEFAAAACAAAAAgAAMAAAEABAQAAQEBDHNwYWNlLWVtcHR5AAECAAEAOvgcAvgbA/gYBB4KABlT/4uLHgoAGVP/i4sMB4tr+JT4dAUdAAAAfA8dAAAAgREdAAAACR0AAACVEgAFAQEMFxkbHnNwYWNlLWVtcHR5c3BhY2UtZW1wdHl1MHUxdTIwAAACAYkAAgAEAQEEBwoN/JQO/JQO/JQO/JQO+JQU+JQViwwKAAAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAABAAAAAIAHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADAAAAAIAAgAAgAAAAEAIP/9//8AAAAAACD//f//AAH/4wADAAEAAAAAAAAAAAABAAH//wAPAAEAAAABAAAAeR2GXw889QALAgAAAAAAzz54vgAAAADPPni+AAAAAAAAAAAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAABQAAAEAAAAAAAOAK4AAQAAAAAAAQAWAAAAAQAAAAAAAgAOAGMAAQAAAAAAAwAWACwAAQAAAAAABAAWAHEAAQAAAAAABQAWABYAAQAAAAAABgALAEIAAQAAAAAACgAoAIcAAwABBAkAAQAWAAAAAwABBAkAAgAOAGMAAwABBAkAAwAWACwAAwABBAkABAAWAHEAAwABBAkABQAWABYAAwABBAkABgAWAE0AAwABBAkACgAoAIcAcwBwAGEAYwBlAC0AZQBtAHAAdAB5AFYAZQByAHMAaQBvAG4AIAAxAC4AMABzAHAAYQBjAGUALQBlAG0AcAB0AHlzcGFjZS1lbXB0eQBzAHAAYQBjAGUALQBlAG0AcAB0AHkAUgBlAGcAdQBsAGEAcgBzAHAAYQBjAGUALQBlAG0AcAB0AHkARwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('woff');}

/* Reset Elements */
html{ overflow-y: scroll; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,select,button,
ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,textarea{margin: 0;padding: 0;}
body,td,form,select,input,button,textarea,div,option,pre,p,span,blockquote,li,dt,dd{font-family: ns,dotum,gullim,Tahoma,Arial,Helvetica,sans-serif;font-size: 14px;color: #666666;}
/* [Chinese] body,td,form,select,input,button,textarea,div,option,pre,p,span,blockquote,li,dt,dd{font-family: "Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif;font-size: 14px;color: #666666;} */
/* [Japanese] body,td,form,select,input,button,textarea,div,option,pre,p,span,blockquote,li,dt,dd{font-family: "MS PGothic",Osaka,Arial,sans-serif;font-size: 14px;color: #666666;} */
fieldset,img{border: none;}
dl,ul,ol,menu,li{list-style: none;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{display: block;content: '';}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,fieldset,legend{display: block;margin: 0;padding: 0;}
a,input,select,textarea,button,label{vertical-align: middle;}
*[disabled]{opacity: 0.5;}
label,button,input[type=button],input[type=submit],input[type=image]{cursor: pointer;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;text-align: left;}
ul{font-family: empty;font-size: 0;}
li{display: block;}
table{border-collapse: collapse; border-spacing: 0;}
::-moz-selection {background-color: rgba(0,0,0,0.4);color: #ffffff;}
::selection {background-color: rgba(0,0,0,0.4);color: #ffffff;}
::-webkit-input-placeholder{color: #98908b;}
:-moz-placeholder{color: #98908b;}
::-moz-placeholder{color: #98908b;}
:-ms-input-placeholder{color: #98908b;}
a:link{text-decoration:none; color:#666666;}
a:visited {text-decoration:none; color:#666666;}
a:active {text-decoration:none; color:#666666;}
a:hover{text-decoration:underline; color:#000000;}

/* Reset Webkit Browsers */
*{ -webkit-text-size-adjust:none;-webkit-border-radius:0;-webkit-overflow-scrolling: touch;outline: none; }
button,input[type=button],input[type=submit],input[type=image]{-webkit-appearance: none;}

/* install */
html{background: #f7f7f7;}
#inst-wrap{width: 700px;position: relative;margin: 100px auto 0 auto;background: #ffffff;box-shadow: 0 0 30px rgba(0,0,0,0.05);padding: 40px;border-radius: 5px;box-sizing: border-box;border: 1px solid #eaeaea;}
#inst-wrap .tit-wrap{position: relative;margin-bottom: 40px;}
#inst-wrap .cont-wrap{}
#inst-wrap h1 img{display: inline-block;vertical-align: middle;}
#inst-wrap h1 em{display: inline-block;vertical-align: middle;margin-left: 20px;font-size: 20px;color: #000000;letter-spacing: -1px;}
#inst-wrap h2{position: absolute;top: -60px;right: -60px;width: 80px;height: 80px;line-height: 80px;text-align: center;border-radius: 50%;color: #ffffff;background: #000;font-size: 13px;background: #444263;font-weight: normal;}
#inst-wrap h2 strong{color: #ffffff;margin-left: 5px;}
#inst-wrap h3{position: relative;margin: 20px 0;padding-left: 15px;font-size: 16px;color: #000000;}
#inst-wrap h3:before{content: '';display: block;position: absolute;top: 50%;left: 0;margin-top: -6px;width: 4px;height: 14px;background: #000000;}
#inst-wrap label{letter-spacing: -1px;display: block;margin-top: 15px;color: #000000;}
#inst-wrap .oplist{}
#inst-wrap .oplist li{position: relative;padding: 15px;padding-left: 55px;border: 1px solid #eaeaea;margin-bottom: -1px;background: linear-gradient(#ffffff, #f7f7f7);color: #000000;}
#inst-wrap .oplist li .fa{position: absolute;top: 20px;left: 20px;font-size: 12px;color: #000000;}
#inst-wrap .oplist li.not{font-weight: bold;color: #f13039;}
#inst-wrap .oplist li.not .fa{display: none;}
#inst-wrap .lgpl{height: 250px;overflow-y: scroll;border: 1px solid #eaeaea;padding: 15px;background: #f7f7f7;}
#inst-wrap .lgpl span{display: block;margin-bottom: 10px;font-size: 13px;letter-spacing: -1px;line-height: 17px;}
#inst-wrap .lgpl span.t1{font-size: 16px;font-weight: bold;color: #000000;margin-bottom: 20px;}
#inst-wrap .lgpl span.t2{font-size: 14px;font-weight: bold;color: #000000;}
#inst-wrap .lgpl span.t3{font-size: 13px;color: #666666;}
#inst-wrap .lgpl span.t4{padding-left: 10px;}
#inst-wrap .tbl{width: 100%;}
#inst-wrap .tbl tr > *{padding: 10px;border: 1px solid #eaeaea;border-width: 1px 0 1px 0;}
#inst-wrap .tbl th{width: 100px;background: #f7f7f7;text-align: left;font-weight: normal;color: #000000;font-size: 13px;}
#inst-wrap .inp{width: 100%;height: 35px;line-height: 35px;padding: 0 10px;border: 1px solid #eaeaea;border-radius: 3px;box-sizing: border-box;}
#inst-wrap .slt{width: 100%;height: 35px;line-height: 35px;padding-left: 10px;border: 1px solid #eaeaea;border-radius: 3px;box-sizing: border-box;}

#finish{margin: 70px 0;}
#finish i{font-size: 80px;color: #dddddd;display: block;text-align: center;}
#finish p{display: block;margin-top: 20px;text-align: center;font-size: 16px;color: #pppppp;letter-spacing: -1px;}

#btn-wrap{width: 700px;position: relative;margin: 20px auto 0 auto;text-align: center;overflow: hidden;}
#btn-wrap > *{width: 50%;height: 60px;line-height: 60px;border: none;border-radius: 5px;text-align: center;}
#btn-wrap .btn1{display: inline-block;background: #2f2d4c;font-size: 14px;color: #ffffff;text-align: center;text-decoration: none;box-sizing: border-box;}
#btn-wrap .btn2{display: inline-block;background: #444263;font-size: 14px;color: #ffffff;text-align: center;text-decoration: none;box-sizing: border-box;}
